# Environment variables
.env

# Python virtual environments
venv/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Log files
.log
holdings.csv
session*.md
